@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');

:root {
  --accent-color: rgb(86, 131, 36);
  --background-color: rgb(246, 243, 243);
  --light-border-color: #e5e7eb;
}

/* Reset and General Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100dvh;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

/* Utility Styles */

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-left {
  margin-left: 2rem;
}

/* Image Sidebar Section */

.img-sidebar {
  background-image: url(images/nature-scene.jpg);
  background-size: cover;
  width: 100%;
  max-width: 600px;
}

.logo {
  background-color: rgba(0, 0, 0, 0.354);
  width: 100%;
  color: white;
  gap: 0.5rem;
  position: relative;
  bottom: 15%;
  padding: 1.5rem 0;
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}

/* Main Section */

main {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-size: 1.5rem;
  width: 85%;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
  background-color: white;
  padding: 2rem;
  box-shadow: 8px 8px 12px #bfbfbf;
}

.form-title {
  font-size: 1.5rem;
}

fieldset .flex {
  gap: 2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  line-height: 22px;
  width: 225px;
  border: 1px solid var(--light-border-color);
}

input:focus {
  border: 1px solid blue;
  box-shadow: 4px 4px 16px #d6d4d4;
}

button {
  margin: 1.25rem 0;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  background-color: var(--accent-color);
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  transition-duration: 0.15s;
}

.sign-in-link {
  font-size: 1.15rem;
}

.sign-in-link a {
  color: var(--accent-color);
}

/* Media Queries */

@media (max-width: 900px), (max-height: 620px) {
  body {
    flex-direction: column;
    height: auto;
  }

  header {
    margin-top: 3rem;
  }

  .img-sidebar {
    height: 100dvh;
    max-width: none;
  }

  .sign-in-link {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 600px) {
  header {
    font-size: 1.15rem;
  }

  fieldset .flex {
    display: block;
  }
}

@media (max-width: 450px) {
  .margin-left {
    margin-left: 0.75rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  fieldset {
    padding: 2rem 0 2rem 0.75rem;
  }
}

@media (max-width: 325px) {
  header {
    font-size: 1rem;
  }

  .sign-in-link a {
    display: block;
  }
}

@media (max-width: 250px) {
  input {
    width: 150px;
  }

  button {
    font-size: 0.75rem;
  }
}

@media (hover: hover) {
  button:hover {
    background-color: white;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }

  .sign-in-link a:hover {
    text-decoration: underline;
  }
}
